<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Application Home Page</title>
    </head>
    <body>
        <h2>
            Welcome!
        </h2>
        <p>
            To view API documentation go to /api/ui.  You can use the API to
            get the latest weather in all cities, or for any one specifically.
            The cities in the database are:
        </p>
        <ul>
          <li>Montreal</li>
          <li>Quebec</li>
          <li>Sherbrooke</li>
        </ul>
    </body>
</html>
